{
  "parser": "babel-eslint",
  "settings": {
    "ecmascript": 6,
    "jsx": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "React": 1,
    "alt": 1,
    "Highcharts": 1,
    "Circles": 1
  },
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    "semi": 2,
    "no-use-before-define": 0,
    "no-unused-vars": 2,
    "dot-notation": 2,
    "no-mixed-requires": 0,
    "camelcase": 0,
    "no-return-assign": 0,
    "semi-spacing": 0,
    "react/display-name": 1,
    "react/jsx-boolean-value": 1,
    "react/jsx-quotes": 1,
    "react/jsx-no-undef": 1,
    "react/jsx-sort-props": 0,
    "react/jsx-sort-prop-types": [1, { "ignoreCase": 1}],
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-multi-comp": 1,
    "react/no-unknown-property": 1,
    "react/prop-types": 1,
    "react/react-in-jsx-scope": 1,
    "react/self-closing-comp": 1,
    "react/wrap-multilines": 1
  }
}